h2,
h3 {
  font-family: Montserrat, sans-serif;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.about {
  position: relative;
  background-color: #eeeeed;
  width: 100%;

  .container {
    .col-md-12 {
      .spacer {
        height: 130px;
      }
    }

    .pap-cer {
      position: absolute;
      left: -350px;
      top: -230px;
      width: 450px;
    }
    .col-md-12 {
      .question {
        position: absolute;
        top: -60px;
        left: 43.4%;
        width: 84px;
      }
      .circle-black {
        width: 30px;
        height: 30px;
        background: #0d0f13;
        border-radius: 40px;

        position: absolute;
        top: 20px;
        left: 5.5%;
      }

      .title-mob {
        display: none;
        line-height: normal;
        font-size: 24px;
        color: #0d0f13;
        font-weight: 400;
        padding-left: 15px;
        margin-bottom: 0;

        span {
          background: #0d0f13;
          color: #fff;
          padding: 0 7px;
          font-weight: 300;
        }
      }
      .title-mob2 {
        display: none;
        font-size: 24px;
        color: #0d0f13;
        font-weight: 400;
        padding-left: 65px;
        line-height: normal;
        margin-bottom: 10px;
      }
      .title-black {
        display: block;
        font-size: 50px;
        color: #000;
        font-weight: 400;
        padding-left: 0;
        margin-left: -5px;
        line-height: normal;
        margin-bottom: 10px;

        span {
          background: #0d0f13;
          color: #fff;
          padding: 0 7px;
          font-weight: 300;
        }
      }
      .ligbl-mob {
        display: none;

        position: relative;
        top: -15px;
        width: 100%;
        text-align: center;
      }
    }
    .col-md-5 {
      .about-text {
        padding-left: 0;
        width: 100%;
        text-align: left;
        margin-top: 25px;

        p {
          font-size: 14px;
          line-height: 1.875;
        }
        .mb-25 {
          margin-bottom: 25px;
        }
      }
    }
    .archi {
      position: absolute;
      width: 370px;
      right: 25%;
      top: 220px;

      img{
        width: 110%;
      }
    }
    .ar-height {
      height: 590px;

      .quota {
        margin-top: 25px;
        line-height: 1.875;
        width: 450px;
        text-align: right;

        position: absolute;
        right: 80%;
        top: 440px;
        font-size: 12px;

        blockquote {
          font-style: italic;
          color: rgba(0, 0, 0, 0.73);
          quotes: none;
        }
        .author {
          width: 200px;
          float: right;
          margin-top: -6px;
          color: rgba(0, 0, 0, 0.55);
          font-size: 10px;

          .authorName {
            color: rgba(0, 0, 0, 0.55);
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .ligbl {
      display: block;
      position: absolute;
      right: 7.5%;
      top: 155px;
      width: 95px;
    }
    .cokt {
      display: block;
      position: absolute;
      bottom: 70px;
      width: 350px;
      right: 4%;
      z-index: 3;
    }
    .lg-line {
      display: block;
      position: absolute;
      bottom: 175px;
      right: 0;
      width: 350px;
    }
    .cokt-tab {
      display: none;
      position: absolute;
      width: 230px;
      bottom: -70px;
      z-index: 3;
      left: 6%;
    }
    .delta {
      display: none;
      position: absolute;
      width: 234px;
      bottom: -110px;
      left: 6%;
      height: auto;
    }
    .watlog {
      position: absolute;
      left: -190px;
      bottom: 0;
      width: 400px;
      height: auto;
    }
    .col-md-12 {
      .spacer2 {
        height: 75px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .about {
    .container {
      max-width: 1200px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about {
    .container {
      .row {
        .col-md-12 {
          .question {
            top: -60px;
            left: 54.5%;
          }
          .circle-black {
            left: 7%;
          }
        }
        .cokt {
          width: 300px;
          right: 4%;
        }
        .archi {
          width: 350px;
          right: 25%;
          top: 250px;
        }
        .pap-cer {
          left: -400px;
        }
      }
    }
  }
}

@media only screen and(max-width: 991px) {
  .about {
    .container {
      .row {
        .pap-cer {
          left: -240px;
          width: 294px;
          top: -155px;
        }
        .col-md-12 {
          .spacer {
            height: 100px;
          }
          .question {
            top: -40px;
            left: 50%;
            width: 54px;
          }
          .circle-black {
            left: 10.7%;
            width: 18px;
            height: 18px;
            top: 14px;
          }
          .title-black {
            display: block;
            color: #0d0f13;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 10px;
            font-size: 32px;
            padding-left: 4%;
            margin-left: 0;
          }
        }
        .col-md-5 {
          min-width: 100%;
          .about-text {
            padding-left: 4%;
            width: 360px;
            height: 361px;
          }
        }
        .ar-height {
          height: 200px;
          min-width: 100%;

          .quota {
            font-size: 14px;
            width: 300px;
            right: 7%;
            top: 0;
          }
        }

        .ligbl {
          display: none;
        }
        .lg-line {
          display: none;
        }
        .cokt {
          display: none;
        }
        .delta {
          display: block;
          bottom: 0;
        }
        .archi {
          width: 240px;
          right: 7%;
          top: 120px;
        }
        .cokt-tab {
          display: block;
          bottom: 0;
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .about {
    .container {
      .row {
        .col-md-12 {
          .question {
            left: 373px;
          }
          .circle-black{
            left: 11.4%;
            width: 18px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 540px) {
}
@media only screen and (max-width: 640px) {
  .about {
    width: 100%;
    .container {
      .row {
        display: unset;
        .pap-cer {
          left: -150px;
          width: 193px;
          top: -105px;
        }
        .col-md-12 {
          .question {
            left: 198px;
            top: 2px;
            width: 35px;
          }
          .title-mob {
            display: block;
            font-size: 24px;
            color: #0d0f13;
            font-weight: 400;
            padding-left: 15px;
            margin-bottom: 0px;
          }
          .title-mob2 {
            display: block;
            margin-bottom: 10px;
            line-height: normal;
            font-size: 24px;
            color: #0d0f13;
            font-weight: 400;
            padding-left: 65px;
          }
          .title-black {
            display: none;
          }
          .spacer3{
            height: 25px;
          }
          .ligbl-mob {
            display: block;
          }
          .circle-black {
            left: 58px;
            width: 13px;
            height: 13px;
            top: 10px;
          }
          .spacer2{
            height: 65px;
          }
        }
        .col-md-5{
          .about-text{
            padding-left: 0;
            width: 100%;
            text-align: center;

            p{
              color: #000;
            }
          }
        }
        .col-md-4{
          .quota{
            width: 260px;
            right: 30px;
            margin: 0 auto;
            margin-top: 30px;
            top: 0;
            font-size: 12px;
            position: relative;
          }
        }
        .ligbl{
          display: none;
        }
        .archi {
          width: 70%;
          right: 0;
          top: 0;
          margin: 0 auto;
          position: relative;
          margin-top: 15px;
        }
        .cokt-tab{
          position: relative;
          width: 200px;
          bottom: -10px;
          z-index: 3;
          left: 0;
          margin: 0 auto;
        }
        .delta{
          position: relative;
          width: 180px;
          bottom: 130px;
          left: 0;
          margin: 0 auto;
          height: 40px;
        }
        .watlog{
          width: 250px;
          left: -120px;
          bottom: 255px;
          height: 0px;
          position: relative;
        }
      }
    }
  }
}
