@media only screen and (min-width: 1200px) {
  .reservation {
    .blgl {
      .container {
        width: 1200px;
      }
    }
  }
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
input[type="text"] {
  border: none;
  line-height: inherit;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 0;
  outline: none;
  text-shadow: none;
  box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border ease 0.238s;
  -moz-transition: border ease 0.238s;
  transition: border ease 0.238s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  &::placeholder {
    color: #b5b5b5;
  }
}

.reservation {
  position: relative;
  background: url(../../assets/reservation.webp) center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;

  .blgl {
    width: 100%;
    height: auto;
    background: rgba(13, 15, 19, 0.8);

    .container {
      .row {
        .col-md-12 {
          .wprt-spacer {
            height: 140px;
          }
          .title-white {
            font-family: Montserrat, serif;
            margin-bottom: 20px;

            font-size: 52px;
            font-weight: 300;
            color: #fff;
            text-align: left;
          }

          .res_form_container {
            width: 95%;
            margin: 0 auto;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 100px;

            .form_inner {
              display: flex;
              flex-wrap: wrap;
              .col-md-4 {
                p {
                  margin: 0 0 20px;
                }
                .dtp {
                  font-size: 16px;
                  text-align: left;
                  color: #fff;
                }
                .res_input {
                  background: rgba(249, 249, 249, 0.25);
                  width: 100%;
                  height: 52px;
                  border: none;
                  font-size: 16px;
                  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
                  color: #b5b5b5;
                  padding-left: 25px;
                  outline: none;
                }

                .res_select {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -ms-appearance: none;
                  -o-appearance: none;
                  appearance: none;
                  box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
                  user-select: none;
                  background: rgba(249, 249, 249, 0.25);
                  width: 100%;
                  height: 52px;
                  border: none;
                  font-size: 16px;
                  color: #b5b5b5;
                  padding-left: 25px;
                  outline: none;
                }
              }
            }
            .res_btn {
              font-family: "Montserrat", sans-serif;
              width: 200px;
              height: 40px;
              background: rgba(0, 0, 0, 0.1);
              color: #eeeeed;
              border: 1px solid #eeeeed;
              border-radius: 3px;
              margin-top: 85px;
              font-size: 14px;
              font-weight: 400;
              cursor: pointer;
              padding: 0;
              transition: all 0.8s cubic-bezier(0.42, 0, 0.58, 1) 0s;
              display: inline-block;
              outline: medium none;
              position: relative;
              z-index: 1;
              line-height: 1;

              &:hover {
                outline: 0;
                background-color: rgba(0, 0, 0, 0.9);
                color: #0d0f13;
              }

              &::before {
                color: #0d0f13;
                content: "";
                left: auto;
                top: 0;
                right: 0;
                height: 100%;
                width: 0;
                position: absolute;
                transition: all 300ms ease;
                z-index: -1;
                background-color: #eeeeed;
              }

              &:hover::before {
                left: 0;
                right: auto;
                width: 100%;
              }
            }
          }
          .rhombus2 {
            position: absolute;
            right: -30px;
            top: -34px;
            width: 350px;
            z-index: 3;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .reservation {
    .blgl {
      .container {
        .row {
          .col-md-12 {
            .title-white {
              font-size: 32px;
              padding-left: 4%;
            }
            .res_form_container {
              .form_inner {
                display: flex;
                flex-direction: column;
                .col-md-4 {
                  min-width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .rhombus2{
    width: 200px !important;
    top: -20px !important;
    right: 10% !important;
  }
}

@media only screen and (max-width: 640px) {
  .reservation {
    background: url(../../assets/reservation-mob.webp) center bottom;
    background-size: contain;
    background-repeat: no-repeat;

    .blgl {
      .container {
        .row {
          .col-md-12 {
            .title-white {
              font-size: 32px;
              padding-left: 4%;
              padding-top: 140px;
            }
            .rhombus2{
              right: 10%;
              top: -20px;
              width: 200px;
            }
            .wprt-spacer{
              display: none;
            }
            .res_form_container{
              margin-top: 80px;
              width: 100% ;
              .form_inner{
                width: 100%;
                .last{
                  margin-top: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}
